root = true

[*]
charset              = utf-8
end_of_line          = lf
tab_width            = 2
indent_size          = 2
indent_style         = space
insert_final_newline = true
max_line_length      = 200

[*.js]
ij_javascript_use_double_quotes                        = true
ij_javascript_use_semicolon_after_statement            = false
ij_javascript_force_semicolon_style                    = false
ij_javascript_spaces_within_array_initializer_brackets = true
